<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing_stylesheet.css') }}">
    <title>Document</title>
</head>
<body>
    <a href="/back">Back</a>
    <a href="/logout"><button>Logout</button></a>    


    <p>Joke: {{jokes['joke']}}</p>
    <p>Punchline: {{punchline['punchline']}}</p>
    <p>Joke User: {{user_id['fist_name']}} {{user_id['last_name']}}</p>
    <p>Joke Created At: {{jokes['created_at']}}</p>
    <p>Users that liked this message:
        <ul>
        {% for user in likes%}
            <li>{{user['first_name']}} {{user['last_name']}}</li>
        {%endfor%}
        </ul>
    </p>
</body>
</html>